<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Gab Likes</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
          <span class="welcome">Welcome {{firstname}}</span>
        <span>
          <nav>
              <a href="/index">Gabble</a>
              <a href="/newgab">New Gab</a>
              <a href="/logout">Log out</a>
          </nav>
        </span>
        <span class="title">Gab</span>
      </div>
      <div class="allMessages">
        <ul>
          {{#allMsg}}
            <li>{{#gabs}}<b>{{firstname}}</b>{{/gabs}} : {{title}}</br>{{message}}</li>
            <li>{{createdAt}}</li>
          {{/allMsg}}
        </ul>
        <hr>
        {{#getNumberOfLikes}}
        <p>Liked by <b>{{getNumberOfLikes}}</b> users</p>
        {{#likedUsersList}}
          <p>{{#likeusers}}{{username}}{{/likeusers}}</p>
        {{/likedUsersList}}
        {{/getNumberOfLikes}}
      </div>

    </div>
  </body>
</html>
